services:
  deno:
    build: .
    container_name: kepler-bot-beta
    restart: always
    environment:
      TOKEN: ${TOKEN}
      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_KEY: ${SUPABASE_KEY}
      BLAGUES_API_TOKEN: ${BLAGUES_API_TOKEN}
      GENIUS_API_TOKEN: ${GENIUS_API_TOKEN}